<div class="card">  
    <div class="card-body pb-0">  
      <div class="row">  
        <div class="col-12 col-md-12">  
          <div class="card">  
            <div class="card-body position-relative">  
              <div class="table-responsive cnstr-record product-tbl">  
                <table class="table table-bordered heading-hvr">  
                  <thead>  
                    <tr>  
                      <th> </th>  
                      <th width="80">RuleExecution Id  
                      </th>  
                      <th>Client Id</th>  
                      <th>Account Id</th>  
                      <th>Patient Transaction</th>  
                      <th>Event</th>  
                      <th>Patient Id</th>  
                      <th>Patient VisitId</th>  
                    </tr>  
                  </thead>  
                  <tbody *ngFor="let rule of RuleInfo; let i = index">  
                    <tr>  
                      <td align="center"> 
                        <a class="expand-row" *ngIf="!hideme[i]" (click)="showProductCountryInfo(i)" > 
                          <span class="glyphicon glyphicon-plus"></span>
                        </a>  
                        <a class="expand-row" *ngIf="hideme[i]" (click)="hideme[i] = !hideme[i]">
                          <span class="glyphicon glyphicon-plus"></span>    
                        </a>  
                      </td>  
                      <td align="center">{{rule.ruleExecutionId}}</td>  
                      <td>{{rule.clientId}}</td>  
                      <td>{{rule.Price }}</td>  
                      <td>{{rule.accountId}}</td>  
                      <td>{{rule.event}}</td>  
                      <td>{{rule.patientId}}</td>  
                      <td>{{rule.patientVisitId}}</td>  
                    </tr>  

                    <tr [hidden]="!hideme[i]" class="sub-table no-bg">  
                      <td align="center"> </td>  
                      <td colspan="15" class="p-0">  
                        <table class="table mb-0 table-striped">  
                          <thead class="bg-dark text-white">  
                            <tr>  
                              <th>RuleExecution Error Id</th>  
                              <th>Rule Id</th>  
                              <th>Rule Type</th>  
                              <th>Rule Error</th>  
                            </tr>  
                          </thead>  
                          <tbody>  
                            <tr *ngFor="let Error of rule.ruleExecutionErrors">  
                              <td>{{Error.ruleExecutionErrorId}}</td>  
                              <td>{{Error.ruleId}}</td>  
                              <td>{{Error.ruleType}}</td>  
                              <td>{{Error.ruleErrorDescription}}</td>  
                            </tr>  
                          </tbody>  
                        </table>  
                      </td>  
                    </tr>  
                  </tbody>  
                </table>  
              </div>  
            </div>  
          </div>  
        </div>  
      </div>  
    </div>  
  </div>   