<div class="row" >
  <div class="col-md-12 smart-table-container card.custom-card">
    <nb-card class="inline-form-card" [nbSpinner]="loading">
      <nb-card-header>Rule Exection Information for Patient Visitid: {{ PatientVisitId }}</nb-card-header>

      <nb-card-body >
        <ng2-smart-table [settings]="settings" [source]="source">
        </ng2-smart-table>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton hero status="primary" (click)="dismiss()">Close</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>

